html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* CSS para impressão de relatórios */
@media print {
  .btn-group, .card-header, .navbar, .breadcrumb {
    display: none !important;
  }
  .card {
    border: none !important;
    box-shadow: none !important;
  }
}
